/************************************************
 *  Site     ...........: Portfolio             *
 *  Author   ...........: Alcides Tiago         *
 *  Data     ...........: 28 de September 2021  *
 *  Version  ...........: 1.0                   *
 *  Archive  ...........: green.css           *
 ************************************************/

:root {
    --primaryColor: #606b56;
    --secondaryColor: #515a48;
    --borderColor: #161914;
    --mainText: #fff;
    --secondaryTextColor: #eeeeee;
    --themeDotBorder: #FFF;
    --previewBg: rgb(81, 90, 72, 0.8);
    /* --previewShadow01: #111921; */
    --previewShadow02: #2a2f25;
    --buttonColor: black;
    /* --buttonColor: #17a2b8; */
}